<div id="tab1">
  <div class="hotel-title__container">
    <h1 class="hotel__title">Hotel Mieres del Camín Apartamentos</h1>
    <img class="star" src="assets/images/star-orange.svg" alt="star" />
    <img class="star" src="assets/images/star-orange.svg" alt="star" />
    <img class="star" src="assets/images/star-orange.svg" alt="star" />
    <img class="star" src="assets/images/star-orange.svg" alt="star" />
  </div>
  <section>
    <ul class="options-list__container">
      <li class="option opt1">
        <div>
        <div class="option-title__container">
          <h2 class="option__title">Solo alojamiento</h2>
          <div class="option__line"></div>
        </div>
        <ul class="option__list">
          <li class="option__item-list">Sin régimen</li>
          <li class="option__item-list">Botella de agua de bienvenida</li>
        </ul>
      </div>
        <div class="choose">
          <input
            class="circle__input l1"
            id="without"
            value="whithout"
            type="radio"
            name="choose"
          />
          <label class="label-choose" for="without">Elegir Régimen</label>
        </div>
      </li>
      <li class="option opt2">
       <div>
        <div class="option-title__container">
          <h2 class="option__title">Alojamiento y desayuno</h2>
          <div class="option__line"></div>
        </div>
        <ul class="option__list">
          <li class="option__item-list">Desayuno buffet completo</li>
        </ul>
      </div>
        <div class="choose">
          <input
            class="circle__input l2"
            id="breakfast"
            type="radio"
            name="choose"
          />
          <label class="label-choose" for="breakfast">Elegir Régimen</label>
        </div>
      </li>
      <li class="option opt3">
       <div>
        <div class="option-title__container">
          <h2 class="option__title">Media Pensión</h2>
          <div class="option__line"></div>
        </div>
        <ul class="option__list">
          <li class="option__item-list">Desayuno buffet completo</li>
          <li class="option__item-list">Cena buffet</li>
          <li class="option__item-list">No incluye</li>
        </ul>
      </div>
        <div class="choose">
          <input
            class="circle__input l3"
            id="half"
            value="half"
            type="radio"
            name="choose"
          />
          <label class="label-choose" for="half">Elegir Régimen</label>
        </div>
      </li>
      <li class="option opt4">
        <div>
        <div class="option-title__container">
          <h2 class="option__title">Todo Incluido</h2>
          <div class="option__line"></div>
        </div>
        <ul class="option__list">
          <li class="option__item-list">
            Dispondrás de comiday bebida todo el día y durante toda tu estancia
          </li>
          <li class="option__item-list">Restaurant Buffet</li>
          <li class="option__item-list">Snack Bar</li>
          <li class="option__item-list">
            Servicio de bares (marcas nacionales)
          </li>
        </ul>
      </div>
        <div class="choose">
          <input
            class="circle__input l4"
            id="all"
            value="all"
            type="radio"
            name="choose"
          />
          <label class="label-choose" for="all"> Elegir Régimen</label>
        </div>
      </li>
      <li class="option opt5">
        <div>
        <div class="option-title__container">
          <h2 class="option__title">Servicios Ilimitados</h2>
          <div class="option__line"></div>
        </div>
        <ul class="option__list">
          <li class="option__item-list">
            Restaurante buffet con bebidas Premium
          </li>
          <li class="option__item-list">
            Restaurante a la carta (una cena por estancia)
          </li>
          <li class="option__item-list">Snack bar con bebidas premium</li>
          <li class="option__item-list">Minibar incluido</li>
          <li class="option__item-list">
            Acceso a SPA y 45 minutos de masaje por persona
          </li>
          <li class="option__item-list">
            Actividades deportivas (acuáticas sin motor)
          </li>
          <li class="option__item-list">Caja fuerte</li>
          <li class="option__item-list">Parking gratuito</li>
          <li class="option__item-list">Lavandería</li>
        </ul>
      </div>
        <div class="choose">
          <input
            class="circle__input l5"
            id="ilimit"
            value="ilimit"
            type="radio"
            name="choose"
          />
          <label class="label-choose" for="ilimit">Elegir Régimen</label>
        </div>
      </li>
    </ul>
  </section>
</div>
